body{
	background-color: #f4f1de;
	font-family: 'Bree Serif;', serif;}
h2{
	color: #414833;
	text-align: center;
}
h4{
	color: #414833;
}
p{
	color: #656d4a;
}
ol{
	color: #656d4a;
}
img{
	
	border-color: #656d4a;
	border-style: solid;
	border-width: 5px;
}
a{
	color: #b08968;
}
a:hover{
	color: #7f5539;

}